* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  width: 100%;
  font-size: 0.8rem;
  font-style: normal;
}
.header {
  background: #f7f6f4;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-content: center;
  align-items: center;
  height: 7rem;
  padding-left: 3rem;
  width: 100%;
  font-size: 18px;
  font-style: normal;
}
.navigation {
  list-style-type: none;
  display: block;
  cursor: pointer;
}
.navigation li {
  display: inline;
  /* margin: 0.5rem; */
  padding: 0.5rem;
}
#open-account {
  background: #87c329;
  color: #fff;
  border-radius: 10px;
}
.main {
  background: #e5f1d1 url("images/young-lady.jpg") scroll no-repeat;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 130px;
  width: 100%;
  height: 1110px;
}
.main h1 {
  color: #87c329;
  text-align: right;
  margin: 1rem 5.5rem 0 0;
  /* padding-right: 2rem; */
  font-style: normal;
  font-size: 76px;
  line-height: 112.5px;
}
.main-login {
  color: #fff;
  /* text-align: center; */
  width: 545px;
  height: 764px;

  padding: 2rem 3.5rem;
  margin: 5rem;
  line-height: 2rem;

  background: rgba(135, 195, 41, 0.36);
  border-radius: 50px;
}
.main-login h2 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 75px;
}
.main-login h4 {
  text-align: center;
  margin-bottom: 2rem;
}
.main-login h4,
.main-login label {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  /* line-height: 28.13px; */
}
.input {
  font-size: 48px;
  border-radius: 20px;
  margin-bottom: 2rem;
  height: 96px;
  width: 412px;
  font-size: 0.8rem;
  border: 1px solid transparent;
}
.remember {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}
#forgot-password {
  color: #457a14;
  cursor: pointer;
}
#btn-submit {
  background: #87c329;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.sub-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 832px;
}
.sub-main h1 {
  margin: 4rem;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  text-align: center;
  color: #87c329;
}
.tabloid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* column-gap: 20; */
}
.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto 1rem;
  padding: 2rem;
  width: 361px;
  height: 473px;

  font-size: 24px;
  font-weight: 700;
  font-style: normal;

  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(139, 139, 139, 0.25);
  border-radius: 20px;
}
.footer {
  grid-template-rows: 1.5fr 2fr;
  height: 217px;
}
#top {
  grid-template-columns: 1.5fr 1fr;
}
.footer,
#top {
  text-align: center;
  color: #fff;
  background: #6a6a6a;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  width: 100%;
  font-size: 16px;
  font-style: normal;
}
.app {
  margin-top: 1rem;
}
.app,
.dp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.store,
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.store {
  cursor: pointer;
}
.socials {
  column-gap: 10px;
  margin-bottom: 0.5rem;
}
.dp {
  background: rgba(196, 196, 196, 0.24);
  width: 56px;
  height: 56px;
  border-radius: 100px;
  cursor: pointer;
}
